{
    "openapi": "3.1.0",
    "info": {
        "title": "Memory System",
        "description": "Main application of the memory system",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.evermind.ai"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/api/v1/memories": {
            "post": {
                "tags": [
                    "Memory Controller"
                ],
                "summary": "Add memories",
                "description": "Store a single message into memory.",
                "operationId": "memorize_single_message_api_v1_memories_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MemorizeMessageRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "status": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "request_id": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "status",
                                        "message",
                                        "request_id"
                                    ]
                                },
                                "example": {
                                    "status": "queued",
                                    "message": "Message accepted and queued for processing",
                                    "request_id": "xxxx"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request parameter error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "INVALID_PARAMETER",
                                    "message": "Data format error: Required field message_id is missing",
                                    "timestamp": "2025-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "code": "InternalServiceError",
                                    "message": "The service encountered an unexpected internal error. Request id: xxx"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Memory Controller"
                ],
                "summary": "Get memories",
                "description": "Retrieve memory records by memory_type with optional filters",
                "operationId": "fetch_memories_api_v1_memories_get",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FetchMemRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FetchMemoriesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request parameter error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "INVALID_PARAMETER",
                                    "message": "user_id cannot be empty",
                                    "timestamp": "2024-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "SYSTEM_ERROR",
                                    "message": "Failed to retrieve memory, please try again later",
                                    "timestamp": "2024-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Memory Controller"
                ],
                "summary": "Delete memories",
                "description": "Delete memory records based on combined filter criteria",
                "operationId": "delete_memories_api_v1_memories_delete",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DeleteMemoriesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteMemoriesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request parameter error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "INVALID_PARAMETER",
                                    "message": "At least one of memory_id, user_id, or group_id must be provided",
                                    "timestamp": "2025-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Memory not found",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "RESOURCE_NOT_FOUND",
                                    "message": "No memories found matching the criteria or already deleted",
                                    "timestamp": "2025-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "SYSTEM_ERROR",
                                    "message": "Failed to delete memories, please try again later",
                                    "timestamp": "2025-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/memories/search": {
            "get": {
                "tags": [
                    "Memory Controller"
                ],
                "summary": "Search memories",
                "description": "Retrieve relevant memory data based on query text using multiple retrieval methods",
                "operationId": "search_memories_api_v1_memories_search_get",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RetrieveMemRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchMemoriesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request parameter error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "INVALID_PARAMETER",
                                    "message": "query cannot be empty",
                                    "timestamp": "2024-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories/search"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "SYSTEM_ERROR",
                                    "message": "Failed to retrieve memory, please try again later",
                                    "timestamp": "2024-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories/search"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/memories/conversation-meta": {
            "post": {
                "tags": [
                    "Memory Controller"
                ],
                "summary": "Set conversation metadata",
                "description": "Save conversation metadata information, including scene, participants, tags, etc.",
                "operationId": "save_conversation_meta_api_v1_memories_conversation_meta_post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConversationMetaCreateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SaveConversationMetaResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request parameter error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "INVALID_PARAMETER",
                                    "message": "Field 'scene': invalid scene value",
                                    "timestamp": "2025-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories/conversation-meta"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "SYSTEM_ERROR",
                                    "message": "Failed to save conversation metadata, please try again later",
                                    "timestamp": "2025-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories/conversation-meta"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Memory Controller"
                ],
                "summary": "Update Conversation Metadata",
                "description": "Partially update conversation metadata, only updating provided fields",
                "operationId": "patch_conversation_meta_api_v1_memories_conversation_meta_patch",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConversationMetaPatchRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PatchConversationMetaResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request parameter error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "INVALID_PARAMETER",
                                    "message": "Missing required field group_id",
                                    "timestamp": "2025-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories/conversation-meta"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Conversation metadata not found",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "RESOURCE_NOT_FOUND",
                                    "message": "Specified conversation metadata not found: group_123",
                                    "timestamp": "2025-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories/conversation-meta"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "code": "SYSTEM_ERROR",
                                    "message": "Failed to update conversation metadata, please try again later",
                                    "timestamp": "2025-01-15T10:30:00+00:00",
                                    "path": "/api/v1/memories/conversation-meta"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "get": {
                "tags": [
                    "Memory Controller"
                ],
                "summary": "Get conversation metadata",
                "description": "Retrieve conversation metadata by group_id with fallback to default config",
                "operationId": "get_conversation_meta_api_v1_memories_conversation_meta_get",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConversationMetaGetRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetConversationMetaResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Conversation metadata not found",
                        "content": {
                            "application/json": {
                                "example": {
                                    "status": "failed",
                                    "message": "Conversation metadata not found for group_id: group_123"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/stats/request": {
            "get": {
                "tags": [
                    "Stats - Request Status"
                ],
                "summary": "Query memory process request status",
                "description": "Query the processing status of a specific request",
                "operationId": "get_request_status_api_v1_stats_request_get",
                "parameters": [
                    {
                        "name": "request_id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "null"
                                }
                            ],
                            "description": "this id is returned by add_memories api",
                            "title": "Request Id"
                        },
                        "description": "this id is returned by add_memories api"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Query successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RequestStatusResponse"
                                },
                                "example": {
                                    "success": true,
                                    "found": true,
                                    "data": {
                                        "request_id": "req-789",
                                        "status": "success",
                                        "url": "/api/memory/memorize",
                                        "method": "POST",
                                        "http_code": 200,
                                        "time_ms": 1500,
                                        "start_time": 1702400000000,
                                        "end_time": 1702400001500,
                                        "ttl_seconds": 3500
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Parameter error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "detail": "Missing required parameter: request_id (query param / body)"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/memories/import": {
            "post": {
                "tags": [
                    "Memory Controller"
                ],
                "summary": "Batch import history messages offline",
                "description": "Import conversation metadata and message list in one request. Messages are queued for processing.",
                "operationId": "batch_import_memories_api_v1_memories_import_post",
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchImportMemoriesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchImportMemoriesResponse"
                                },
                                "example": {
                                    "message": "Batch import completed",
                                    "request_id": "5a24bf47-9e87-40eb-acb6-0b4f1eef481b",
                                    "status": "queued",
                                    "total_count": 104,
                                    "imported_meta": true
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Request parameter error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "error": "invalid_request",
                                    "message": "conversation_meta.group_id is required"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "example": {
                                    "code": "AuthenticationError",
                                    "message": "The API key in the request is missing or invalid.",
                                    "type": "Unauthorized"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Rate limit exceeded",
                        "content": {
                            "application/json": {
                                "example": {
                                    "code": "RateLimitExceeded",
                                    "message": "The request rate limit has been exceeded. Please try again later.",
                                    "type": "TooManyRequests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "example": {
                                    "code": "InternalServiceError",
                                    "message": "The service encountered an unexpected internal error.",
                                    "type": "InternalServerError"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable",
                        "content": {
                            "application/json": {
                                "example": {
                                    "code": "MemorySpaceNotReady",
                                    "message": "The memory space is still being initialized. Please try again later.",
                                    "type": "ServiceUnavailable"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ConversationMetaCreateRequest": {
                "properties": {
                    "scene": {
                        "type": "string",
                        "title": "Scene",
                        "description": "Scene identifier, enum values from ScenarioType:\n- group_chat: work/group chat scenario, suitable for group conversations such as multi-person collaboration and project discussions\n- assistant: assistant scenario, suitable for one-on-one AI assistant conversations",
                        "examples": [
                            "group_chat"
                        ]
                    },
                    "scene_desc": {
                        "additionalProperties": true,
                        "type": "object",
                        "title": "Scene Desc",
                        "description": "Scene description object, can include fields like description",
                        "examples": [
                            {
                                "description": "Project discussion group chat",
                                "type": "project_discussion"
                            }
                        ]
                    },
                    "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "Conversation name",
                        "examples": [
                            "Project Discussion Group"
                        ]
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description",
                        "description": "Conversation description",
                        "examples": [
                            "Technical discussion for new feature development"
                        ]
                    },
                    "group_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Id",
                        "description": "Group unique identifier. When null/not provided, represents default settings for this scene.",
                        "examples": [
                            "group_123"
                        ]
                    },
                    "created_at": {
                        "type": "string",
                        "title": "Created At",
                        "description": "Conversation creation time (ISO 8601 format)",
                        "examples": [
                            "2025-01-15T10:00:00+00:00"
                        ]
                    },
                    "default_timezone": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Default Timezone",
                        "description": "Default timezone",
                        "examples": [
                            "UTC"
                        ]
                    },
                    "user_details": {
                        "anyOf": [
                            {
                                "additionalProperties": {
                                    "$ref": "#/components/schemas/UserDetail"
                                },
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "User Details",
                        "description": "Participant details, key is user ID, value is user detail object",
                        "examples": [
                            {
                                "bot_001": {
                                    "custom_role": "assistant",
                                    "extra": {
                                        "type": "ai"
                                    },
                                    "full_name": "AI Assistant",
                                    "role": "assistant"
                                },
                                "user_001": {
                                    "custom_role": "developer",
                                    "extra": {
                                        "department": "Engineering"
                                    },
                                    "full_name": "John Smith",
                                    "role": "user"
                                }
                            }
                        ]
                    },
                    "tags": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tags",
                        "description": "Tag list",
                        "examples": [
                            [
                                "work",
                                "technical"
                            ]
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "scene",
                    "scene_desc",
                    "name",
                    "created_at"
                ],
                "title": "ConversationMetaCreateRequest",
                "description": "Create conversation metadata request body\n\nUsed for POST /api/v1/memories/conversation-meta endpoint",
                "examples": [
                    {
                        "summary": "With group_id",
                        "value": {
                            "created_at": "2025-01-15T10:00:00+00:00",
                            "default_timezone": "UTC",
                            "description": "Technical discussion for new feature development",
                            "group_id": "group_123",
                            "name": "Project Discussion Group",
                            "scene": "group_chat",
                            "scene_desc": {
                                "description": "Project discussion group chat",
                                "type": "project_discussion"
                            },
                            "tags": [
                                "work",
                                "technical"
                            ],
                            "user_details": {
                                "bot_001": {
                                    "full_name": "AI Assistant",
                                    "role": "assistant"
                                },
                                "user_001": {
                                    "custom_role": "developer",
                                    "extra": {
                                        "department": "Engineering"
                                    },
                                    "full_name": "John Smith",
                                    "role": "user"
                                }
                            }
                        }
                    },
                    {
                        "summary": "Default config (group_id is null)",
                        "value": {
                            "created_at": "2025-01-15T10:00:00+00:00",
                            "default_timezone": "UTC",
                            "description": "Default settings for group_chat scene",
                            "name": "Default Group Chat Settings",
                            "scene": "group_chat",
                            "scene_desc": {
                                "description": "Default conversation meta config"
                            },
                            "tags": [
                                "default"
                            ]
                        }
                    }
                ]
            },
            "ConversationMetaPatchRequest": {
                "properties": {
                    "group_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Id",
                        "description": "Group ID to update. When null, updates the default config.",
                        "examples": [
                            "group_123"
                        ]
                    },
                    "name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Name",
                        "description": "New conversation name",
                        "examples": [
                            "New Conversation Name"
                        ]
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description",
                        "description": "New conversation description",
                        "examples": [
                            "Updated description"
                        ]
                    },
                    "scene_desc": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Scene Desc",
                        "description": "New scene description",
                        "examples": [
                            {
                                "description": "Project discussion group chat"
                            }
                        ]
                    },
                    "tags": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Tags",
                        "description": "New tag list",
                        "examples": [
                            [
                                "tag1",
                                "tag2"
                            ]
                        ]
                    },
                    "user_details": {
                        "anyOf": [
                            {
                                "additionalProperties": {
                                    "$ref": "#/components/schemas/UserDetail"
                                },
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "User Details",
                        "description": "New user details (will completely replace existing user_details)",
                        "examples": [
                            {
                                "user_001": {
                                    "custom_role": "lead",
                                    "full_name": "John Smith",
                                    "role": "user"
                                }
                            }
                        ]
                    },
                    "default_timezone": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Default Timezone",
                        "description": "New default timezone",
                        "examples": [
                            "Asia/Shanghai"
                        ]
                    }
                },
                "type": "object",
                "title": "ConversationMetaPatchRequest",
                "description": "Partial update conversation metadata request body\n\nUsed for PATCH /api/v1/memories/conversation-meta endpoint",
                "examples": [
                    {
                        "summary": "Update by group_id",
                        "value": {
                            "group_id": "group_123",
                            "name": "New Conversation Name",
                            "tags": [
                                "updated",
                                "tags"
                            ]
                        }
                    },
                    {
                        "summary": "Update default config (group_id is null)",
                        "value": {
                            "name": "Updated Default Settings"
                        }
                    }
                ]
            },
            "DeleteMemoriesRequest": {
                "properties": {
                    "memory_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Memory Id",
                        "description": "Memory id (filter condition)",
                        "default": "__all__",
                        "examples": [
                            "507f1f77bcf86cd799439011",
                            "__all__"
                        ]
                    },
                    "user_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "User Id",
                        "description": "User ID (filter condition)",
                        "default": "__all__",
                        "examples": [
                            "user_123",
                            "__all__"
                        ]
                    },
                    "group_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Id",
                        "description": "Group ID (filter condition)",
                        "default": "__all__",
                        "examples": [
                            "group_456",
                            "__all__"
                        ]
                    }
                },
                "type": "object",
                "title": "DeleteMemoriesRequest",
                "description": "Delete memories request body\n\nUsed for DELETE /api/v1/memories endpoint\n\nNotes:\n- memory_id, user_id, group_id are combined filter conditions\n- If all three are provided, all conditions must be met\n- If not provided, use MAGIC_ALL (\"__all__\") to skip filtering\n- Cannot all be MAGIC_ALL (at least one filter required)",
                "examples": [
                    {
                        "summary": "Delete by memory_id only",
                        "value": {
                            "group_id": "__all__",
                            "memory_id": "507f1f77bcf86cd799439011",
                            "user_id": "__all__"
                        }
                    },
                    {
                        "summary": "Delete by user_id only",
                        "value": {
                            "group_id": "__all__",
                            "memory_id": "__all__",
                            "user_id": "user_123"
                        }
                    },
                    {
                        "summary": "Delete by user_id and group_id",
                        "value": {
                            "group_id": "group_456",
                            "memory_id": "__all__",
                            "user_id": "user_123"
                        }
                    }
                ]
            },
            "FetchMemoriesParams": {
                "properties": {
                    "user_id": {
                        "type": "string",
                        "title": "User Id",
                        "description": "User ID",
                        "examples": [
                            "user_123"
                        ]
                    },
                    "memory_type": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Memory Type",
                        "description": "Memory type, enum values from MemoryType:\n- profile: user profile\n- episodic_memory: episodic memory (default)\n- foresight: prospective memory\n- event_log: event log (atomic facts)",
                        "default": "episodic_memory",
                        "examples": [
                            "profile"
                        ]
                    },
                    "limit": {
                        "anyOf": [
                            {
                                "type": "integer",
                                "maximum": 100,
                                "minimum": 1
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Limit",
                        "description": "Maximum number of memories to return",
                        "default": 10,
                        "examples": [
                            20
                        ]
                    },
                    "offset": {
                        "anyOf": [
                            {
                                "type": "integer",
                                "minimum": 0
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Offset",
                        "description": "Pagination offset",
                        "default": 0,
                        "examples": [
                            0
                        ]
                    },
                    "sort_by": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Sort By",
                        "description": "Sort field",
                        "examples": [
                            "created_at"
                        ]
                    },
                    "sort_order": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Sort Order",
                        "description": "Sort direction, enum values:\n- asc: ascending order\n- desc: descending order (default)",
                        "default": "desc",
                        "examples": [
                            "desc"
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "user_id"
                ],
                "title": "FetchMemoriesParams",
                "description": "Query parameters for fetching user memories\n\nUsed for GET /api/v1/memories endpoint",
                "example": {
                    "limit": 20,
                    "memory_type": "profile",
                    "offset": 0,
                    "sort_order": "desc",
                    "user_id": "user_123"
                }
            },
            "HTTPValidationError": {
                "properties": {
                    "detail": {
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        },
                        "type": "array",
                        "title": "Detail"
                    }
                },
                "type": "object",
                "title": "HTTPValidationError"
            },
            "MemorizeMessageRequest": {
                "properties": {
                    "group_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Id",
                        "description": "Group ID. If not provided, will automatically generate based on hash(sender) + '_group' suffix, representing single-user mode where each user's messages are extracted into separate memory spaces.",
                        "examples": [
                            "group_123"
                        ]
                    },
                    "group_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Name",
                        "description": "Group name",
                        "examples": [
                            "Project Discussion Group"
                        ]
                    },
                    "message_id": {
                        "type": "string",
                        "title": "Message Id",
                        "description": "Message unique identifier",
                        "examples": [
                            "msg_001"
                        ]
                    },
                    "create_time": {
                        "type": "string",
                        "title": "Create Time",
                        "description": "Message creation time (ISO 8601 format)",
                        "examples": [
                            "2025-01-15T10:00:00+00:00"
                        ]
                    },
                    "sender": {
                        "type": "string",
                        "title": "Sender",
                        "description": "Sender user ID (required). Also used as user_id internally for memory ownership.",
                        "examples": [
                            "user_001"
                        ]
                    },
                    "sender_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Sender Name",
                        "description": "Sender name (uses sender if not provided)",
                        "examples": [
                            "John"
                        ]
                    },
                    "role": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Role",
                        "description": "Message sender role, used to identify the source of the message.\nEnum values from MessageSenderRole:\n- user: Message from a human user\n- assistant: Message from an AI assistant",
                        "examples": [
                            "user",
                            "assistant"
                        ]
                    },
                    "content": {
                        "type": "string",
                        "title": "Content",
                        "description": "Message content",
                        "examples": [
                            "Let's discuss the technical solution for the new feature today"
                        ]
                    },
                    "refer_list": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Refer List",
                        "description": "List of referenced message IDs",
                        "examples": [
                            [
                                "msg_000"
                            ]
                        ]
                    },
                    "flush": {
                        "type": "boolean",
                        "title": "Flush",
                        "description": "Force boundary trigger. When True, immediately triggers memory extraction instead of waiting for natural boundary detection.",
                        "default": false,
                        "examples": [
                            false,
                            true
                        ]
                    }
                },
                "type": "object",
                "required": [
                    "message_id",
                    "create_time",
                    "sender",
                    "content"
                ],
                "title": "MemorizeMessageRequest",
                "description": "Store single message request body (HTTP API layer)\n\nUsed for POST /api/v1/memories endpoint",
                "examples": [
                    {
                        "summary": "With explicit group_id (multi-user group mode)",
                        "value": {
                            "content": "Let's discuss the technical solution for the new feature today",
                            "create_time": "2025-01-15T10:00:00+00:00",
                            "group_id": "group_123",
                            "group_name": "Project Discussion Group",
                            "message_id": "msg_001",
                            "refer_list": [
                                "msg_000"
                            ],
                            "role": "user",
                            "sender": "user_001",
                            "sender_name": "John"
                        }
                    },
                    {
                        "summary": "Without group_id (single-user mode, auto-generated)",
                        "value": {
                            "content": "What's the weather like today?",
                            "create_time": "2025-01-15T10:05:00+00:00",
                            "message_id": "msg_002",
                            "role": "user",
                            "sender": "user_001",
                            "sender_name": "John"
                        }
                    }
                ]
            },
            "SearchMemoriesRequest": {
                "properties": {
                    "user_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "User Id",
                        "description": "User ID (at least one of user_id or group_id must be provided)",
                        "examples": [
                            "user_123"
                        ]
                    },
                    "group_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Id",
                        "description": "Group ID (at least one of user_id or group_id must be provided)",
                        "examples": [
                            "group_456"
                        ]
                    },
                    "query": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Query",
                        "description": "Search query text",
                        "examples": [
                            "coffee preference"
                        ]
                    },
                    "retrieve_method": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Retrieve Method",
                        "description": "Retrieval method, enum values from RetrieveMethod:\n- keyword: keyword retrieval (BM25, default)\n- vector: vector semantic retrieval\n- hybrid: hybrid retrieval (keyword + vector)\n- rrf: RRF fusion retrieval (keyword + vector + RRF ranking fusion)\n- agentic: LLM-guided multi-round intelligent retrieval",
                        "default": "keyword",
                        "examples": [
                            "keyword"
                        ]
                    },
                    "top_k": {
                        "anyOf": [
                            {
                                "type": "integer",
                                "maximum": 100,
                                "minimum": 1
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Top K",
                        "description": "Maximum number of results to return",
                        "default": 10,
                        "examples": [
                            10
                        ]
                    },
                    "memory_types": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Memory Types",
                        "description": "List of memory types to retrieve, enum values from MemoryType:\n- episodic_memory: episodic memory\n- foresight: prospective memory\n- event_log: event log (atomic facts)\nNote: profile type is not supported in search interface",
                        "examples": [
                            [
                                "episodic_memory"
                            ]
                        ]
                    },
                    "start_time": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Start Time",
                        "description": "Time range start (ISO 8601 format)",
                        "examples": [
                            "2024-01-01T00:00:00"
                        ]
                    },
                    "end_time": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "End Time",
                        "description": "Time range end (ISO 8601 format)",
                        "examples": [
                            "2024-12-31T23:59:59"
                        ]
                    },
                    "radius": {
                        "anyOf": [
                            {
                                "type": "number",
                                "maximum": 1,
                                "minimum": 0
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Radius",
                        "description": "COSINE similarity threshold for vector retrieval (only for vector and hybrid methods, default 0.6)",
                        "examples": [
                            0.6
                        ]
                    },
                    "include_metadata": {
                        "anyOf": [
                            {
                                "type": "boolean"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Include Metadata",
                        "description": "Whether to include metadata",
                        "default": true,
                        "examples": [
                            true
                        ]
                    },
                    "filters": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Filters",
                        "description": "Additional filter conditions",
                        "examples": [
                            {}
                        ]
                    }
                },
                "type": "object",
                "title": "SearchMemoriesRequest",
                "description": "Search memories request parameters\n\nUsed for GET /api/v1/memories/search endpoint\nSupports passing parameters via query params or body",
                "example": {
                    "memory_types": [
                        "episodic_memory"
                    ],
                    "query": "coffee preference",
                    "retrieve_method": "keyword",
                    "top_k": 10,
                    "user_id": "user_123"
                }
            },
            "UserDetailRequest": {
                "properties": {
                    "full_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Full Name",
                        "description": "User full name",
                        "examples": [
                            "John Smith"
                        ]
                    },
                    "role": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Role",
                        "description": "User type role, used to identify if this user is a human or AI.\nEnum values from MessageSenderRole:\n- user: Human user\n- assistant: AI assistant/bot",
                        "examples": [
                            "user",
                            "assistant"
                        ]
                    },
                    "custom_role": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Custom Role",
                        "description": "User's job/position role (e.g. developer, designer, manager)",
                        "examples": [
                            "developer"
                        ]
                    },
                    "extra": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Extra",
                        "description": "Additional information",
                        "examples": [
                            {
                                "department": "Engineering"
                            }
                        ]
                    }
                },
                "type": "object",
                "title": "UserDetailRequest",
                "description": "User detail request model"
            },
            "ValidationError": {
                "properties": {
                    "loc": {
                        "items": {
                            "anyOf": [
                                {
                                    "type": "string"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "type": "array",
                        "title": "Location"
                    },
                    "msg": {
                        "type": "string",
                        "title": "Message"
                    },
                    "type": {
                        "type": "string",
                        "title": "Error Type"
                    }
                },
                "type": "object",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "title": "ValidationError"
            },
            "BeanCallRequest": {
                "properties": {
                    "bean_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Bean Name",
                        "description": "Bean name"
                    },
                    "bean_type": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Bean Type",
                        "description": "Bean type name"
                    },
                    "method": {
                        "type": "string",
                        "title": "Method",
                        "description": "Method name to be called"
                    },
                    "args": {
                        "items": {},
                        "type": "array",
                        "title": "Args",
                        "description": "List of positional arguments"
                    },
                    "kwargs": {
                        "additionalProperties": true,
                        "type": "object",
                        "title": "Kwargs",
                        "description": "Dictionary of keyword arguments"
                    },
                    "code": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Code",
                        "description": "Python code used to generate args and kwargs parameters (optional)"
                    }
                },
                "type": "object",
                "required": [
                    "method"
                ],
                "title": "BeanCallRequest",
                "description": "Bean method call request model (compatible with code execution)"
            },
            "BeanCallResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "title": "Success",
                        "description": "Whether the call was successful"
                    },
                    "result": {
                        "anyOf": [
                            {},
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Result",
                        "description": "Method return value (JSON serializable)"
                    },
                    "result_str": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Result Str",
                        "description": "String representation of the return value (used when not JSON serializable)"
                    },
                    "error": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Error",
                        "description": "Error message"
                    },
                    "traceback": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Traceback",
                        "description": "Detailed error stack trace"
                    },
                    "bean_info": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Bean Info",
                        "description": "Information about the called Bean"
                    },
                    "code_execution": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Code Execution",
                        "description": "Code execution information (only when using code to generate parameters)"
                    }
                },
                "type": "object",
                "required": [
                    "success"
                ],
                "title": "BeanCallResponse",
                "description": "Bean method call response model"
            },
            "BeanCallWithCodeRequest": {
                "properties": {
                    "bean_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Bean Name",
                        "description": "Bean name"
                    },
                    "bean_type": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Bean Type",
                        "description": "Bean type name"
                    },
                    "method": {
                        "type": "string",
                        "title": "Method",
                        "description": "Method name to be called"
                    },
                    "code": {
                        "type": "string",
                        "title": "Code",
                        "description": "Python code used to generate args and kwargs parameters"
                    }
                },
                "type": "object",
                "required": [
                    "method",
                    "code"
                ],
                "title": "BeanCallWithCodeRequest",
                "description": "Bean method call request model using code to generate parameters"
            },
            "BeanInfoResponse": {
                "properties": {
                    "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "Bean name"
                    },
                    "type_name": {
                        "type": "string",
                        "title": "Type Name",
                        "description": "Bean type name"
                    },
                    "scope": {
                        "type": "string",
                        "title": "Scope",
                        "description": "Bean scope"
                    },
                    "is_primary": {
                        "type": "boolean",
                        "title": "Is Primary",
                        "description": "Whether it is a Primary Bean"
                    },
                    "is_mock": {
                        "type": "boolean",
                        "title": "Is Mock",
                        "description": "Whether it is a Mock Bean"
                    },
                    "methods": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Methods",
                        "description": "List of callable methods"
                    }
                },
                "type": "object",
                "required": [
                    "name",
                    "type_name",
                    "scope",
                    "is_primary",
                    "is_mock"
                ],
                "title": "BeanInfoResponse",
                "description": "Bean information response model"
            },
            "ConversationMetaGetRequest": {
                "properties": {
                    "group_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Id",
                        "description": "Group ID to look up. If not found, will automatically fallback to default config (group_id=null). If not provided, returns default config directly.",
                        "examples": [
                            "group_123"
                        ]
                    }
                },
                "type": "object",
                "title": "ConversationMetaGetRequest",
                "description": "Get conversation metadata request parameters\n\nUsed for GET /api/v1/memories/conversation-meta endpoint",
                "example": {
                    "group_id": "group_123"
                }
            },
            "RequestStatusResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "title": "Success",
                        "description": "Whether the query was successful"
                    },
                    "found": {
                        "type": "boolean",
                        "title": "Found",
                        "description": "Whether the request status was found",
                        "default": false
                    },
                    "data": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Data",
                        "description": "Request status data"
                    },
                    "message": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Message",
                        "description": "Message"
                    }
                },
                "type": "object",
                "required": [
                    "success"
                ],
                "title": "RequestStatusResponse",
                "description": "Request status response\n\nContains detailed status information of the request."
            },
            "BaseMemory": {
                "properties": {
                    "memory_type": {
                        "$ref": "#/components/schemas/MemoryType"
                    },
                    "user_id": {
                        "type": "string",
                        "title": "User Id"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Timestamp"
                    },
                    "ori_event_id_list": {
                        "items": {
                            "type": "string"
                        },
                        "type": "array",
                        "title": "Ori Event Id List"
                    },
                    "group_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Id"
                    },
                    "group_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Name"
                    },
                    "participants": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Participants"
                    },
                    "type": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/RawDataType"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "keywords": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Keywords"
                    },
                    "linked_entities": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Linked Entities"
                    },
                    "memcell_event_id_list": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Memcell Event Id List"
                    },
                    "user_name": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "User Name"
                    },
                    "extend": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Extend"
                    },
                    "vector_model": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Vector Model"
                    },
                    "vector": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "number"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Vector"
                    },
                    "id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Id"
                    }
                },
                "type": "object",
                "required": [
                    "memory_type",
                    "user_id",
                    "timestamp",
                    "ori_event_id_list"
                ],
                "title": "BaseMemory"
            },
            "CollectionCount": {
                "properties": {
                    "collection": {
                        "type": "string",
                        "title": "Collection",
                        "description": "集合名称"
                    },
                    "count": {
                        "type": "integer",
                        "title": "Count",
                        "description": "文档数量（估算值，基于元数据）"
                    },
                    "error": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Error",
                        "description": "错误信息（如果统计失败）"
                    }
                },
                "type": "object",
                "required": [
                    "collection",
                    "count"
                ],
                "title": "CollectionCount",
                "description": "单个集合的统计结果"
            },
            "CollectionStatsRequest": {
                "properties": {
                    "collections": {
                        "anyOf": [
                            {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Collections",
                        "description": "要统计的集合名称列表，为空则统计默认集合",
                        "example": [
                            "memcells",
                            "episodic_memories",
                            "group_profiles"
                        ]
                    }
                },
                "type": "object",
                "title": "CollectionStatsRequest",
                "description": "集合统计请求\n\n可选指定要统计的集合列表，默认统计核心表"
            },
            "CollectionStatsResponse": {
                "properties": {
                    "success": {
                        "type": "boolean",
                        "title": "Success",
                        "description": "是否全部成功"
                    },
                    "total_collections": {
                        "type": "integer",
                        "title": "Total Collections",
                        "description": "统计的集合总数"
                    },
                    "total_documents": {
                        "type": "integer",
                        "title": "Total Documents",
                        "description": "所有集合的文档总数"
                    },
                    "stats": {
                        "items": {
                            "$ref": "#/components/schemas/CollectionCount"
                        },
                        "type": "array",
                        "title": "Stats",
                        "description": "各集合的统计详情"
                    },
                    "timestamp": {
                        "type": "string",
                        "title": "Timestamp",
                        "description": "统计时间"
                    }
                },
                "type": "object",
                "required": [
                    "success",
                    "total_collections",
                    "total_documents",
                    "stats",
                    "timestamp"
                ],
                "title": "CollectionStatsResponse",
                "description": "集合统计响应\n\n包含各集合的文档数量统计",
                "example": {
                    "stats": [
                        {
                            "collection": "memcells",
                            "count": 5000
                        },
                        {
                            "collection": "episodic_memories",
                            "count": 3000
                        },
                        {
                            "collection": "group_profiles",
                            "count": 500
                        },
                        {
                            "collection": "group_core_profile_memory",
                            "count": 1500
                        },
                        {
                            "collection": "foresight_records",
                            "count": 1500
                        },
                        {
                            "collection": "event_log_records",
                            "count": 1000
                        }
                    ],
                    "success": true,
                    "timestamp": "2025-01-15T10:00:00Z",
                    "total_collections": 6,
                    "total_documents": 12500
                }
            },
            "ConversationMetaResponse": {
                "properties": {
                    "id": {
                        "type": "string",
                        "title": "Id",
                        "description": "Document ID"
                    },
                    "group_id": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Group Id",
                        "description": "Group ID (null for default config)"
                    },
                    "scene": {
                        "type": "string",
                        "title": "Scene",
                        "description": "Scene identifier"
                    },
                    "scene_desc": {
                        "anyOf": [
                            {
                                "additionalProperties": true,
                                "type": "object"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Scene Desc",
                        "description": "Scene description"
                    },
                    "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "Conversation name"
                    },
                    "description": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
                        "title": "Description",
                        "description": "Conversation description"
                    },
                    "conversation_created_at": {
                        "type": "string",
                        "title": "Conversation Created At",
                        "description": "Conversation creation time"
                    },
                    "default_timezone": {
                        "anyOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "null"
                            }
                        ],
[...]
